[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fs = "*"
requests = "*"
pyinstaller = "*"
"pypiwin32" = "*"
clint = "*"

[dev-packages]

[requires]
python_version = "3.6"
